<div class="table-container">
    <table mat-table [dataSource]="templates" class="mat-elevation-z8">
        <ng-container matColumnDef="No">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
        </ng-container>
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element;"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="Action 1">
            <th mat-header-cell *matHeaderCellDef> Remove </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon aria-hidden="false" class="action-icon" style="cursor: pointer;"
                    fontIcon="delete" (click)="deleteTemplate(element)"
                    mat-raised-button>
                </mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="Action 2">
            <th mat-header-cell *matHeaderCellDef> Use the template </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon aria-hidden="false" class="action-icon" style="cursor: pointer;"
                    fontIcon="edit_note" (click)="editTemplate(element)"
                    mat-raised-button>
                </mat-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.row-invisible]="!row.isVisible"></tr>
    </table>
</div>