.table-container {
    display: flex;
    justify-content: center;
    padding: 0 300px; /* adjust left and right padding as needed */
    margin-top: 4%;
  }
  
  .custom-table {
    width: 100%;
    max-width: 800px; /* limit width for better centering */
  }
  

  .action-icon:hover {
    cursor: pointer;
  }


.loading-row, .no-data-row {
    text-align: center;
    font-style: italic;
    color: gray;
}

.loading-message, .no-data-message {
    text-align: center;
    width: 100%;
    padding: 10px;
}