.table-container {
    display: flex;
    justify-content: center;
    padding: 0 300px; /* adjust left and right padding as needed */
    margin-top: 4%;
  }
  
  .custom-table {
    width: 100%;
    max-width: 800px; /* limit width for better centering */
  }
  

  .action-icon:hover {
    cursor: pointer;
  }


.loading-row, .no-data-row {
    text-align: center;
    font-style: italic;
    color: gray;
}

.loading-message, .no-data-message {
    text-align: center;
    width: 100%;
    padding: 10px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0; /* Add spacing above and below */
}

.google-login-button {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between the icon and text */
  font-size: 16px;
  font-weight: bold;
  text-transform: none; /* Prevent uppercase transformation */
  padding: 10px 20px;
  border-radius: 4px;
}