<div class="container">
  <div class="section">
    <div class="custom-mock-data-container">
      <h4 mat-dialog-title class="title">
        Choose the fields to generate custom mock data
      </h4>
      <mat-dialog-content>
        <mat-form-field class="full-width">
          <mat-label>Fields</mat-label>
          <mat-select [formControl]="customCategoryForm" multiple (selectionChange)="onCategorySelect($event)">
            <mat-select-trigger>
              {{customCategoryForm.value?.[0] || ''}}
              @if ((customCategoryForm.value?.length || 0) > 1) {
              <span class="example-additional-selection">
                (+{{(customCategoryForm.value?.length || 0) - 1}} {{customCategoryForm.value?.length === 2 ? 'other' :
                'others'}})
              </span>
              }
            </mat-select-trigger>
            @for (property of properties; track properties) {
            <mat-option [value]="property.name">{{property.label}} <span
                class="category-description">({{property.description}})</span> </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </mat-dialog-content>
      <div class="custom-data-suggestions">
        <ul style="list-style: decimal;">
          <li>Modify the <span class="property-highlighter">value</span> property to add your own input to the mock data.</li>
          <li>Leave <span class="property-highlighter">value</span> blank to auto-generate mock data for you.</li>
          <li>Modifying the <span class="property-highlighter">name</span> property will exclude that property from results</li>
          <li>You can save your custom templates and reuse it later.</li>
        </ul>
      </div>

      @if (customCategoryForm.value?.length && this.isJsonValid) {
      <div class="custom-data-tools-container">
        <button mat-raised-button color="primary generate-mock-data" (click)="generateMockData()">Generate Mock Data</button>
        @if(customJsonResponse && customJsonResponse.length > 0) {
          <div class="tools">
            <mat-icon aria-hidden="false" title="copy JSON data" (click)="copyToClipboard()"fontIcon="content_copy"></mat-icon>
            <mat-icon aria-hidden="false" title="donwload JSON data" (click)="downloadJson()" fontIcon="download"></mat-icon>
            <mat-icon aria-hidden="false" title="save the template" (click)="showTooltip = !showTooltip" fontIcon="bookmark_add"></mat-icon>
            <!-- Custom Tooltip -->
            <div class="custom-tooltip" *ngIf="showTooltip">
              <mat-card>
                <mat-card-content>
                  <input matInput type="text" [(ngModel)]="templateName" placeholder="Template Name" />
                </mat-card-content>
                <mat-card-actions class="tooltip-actions">
                  <button mat-button color="primary" (click)="saveTemplate()">Save</button>
                  <button mat-button (click)="showTooltip = false">Cancel</button>
                </mat-card-actions>
              </mat-card>
            </div>
            <!-- End of Custom Tooltip -->
          </div>        
        }
      </div>
    }
    </div>
  </div>
  <div class="section json-editor">
    <nu-monaco-editor style="height: 100%; width: 100%; overflow-x: scroll;" [ngModel]="jsonData"
      [options]="editorOptions" (ngModelChange)="onChange($event)"></nu-monaco-editor>
  </div>
</div>