.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Space between the sections */
    padding: 10px 20px; /* Horizontal padding for the container */
  }
  
  .section {
    /* border: 1px solid #ccc;  */
    padding: 1px; /* Internal padding within each section */
    width: 700px; /* Fixed width for each section */
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);  */
    height: 500px;
  }

  
  @media (max-width: 600px) {
    .container {
      flex-direction: column;
      align-items: stretch;
    }
  
    .section {
      width: 100%;
    }
  }
  

.custom-mock-data-container {
    /* padding: 5%; */
}
.title {
    font-weight: 400;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
    line-height: 1;
}

.full-width {
    width: 100%;
}


.category-description {
    font-size: 0.75em;
    line-height: 1;
    color: #005cbb
}

.json-editor {
    margin-top: 3%;
}


.monaco-editor {
  height: 100%;
  width: 100%;
}

.custom-data-tools-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.custom-data-tools-container .tools {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.custom-data-tools-container button {
  margin-right: auto;
}

.property-highlighter {
  background-color: #f0f0f0;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}

.custom-data-suggestions ul li {
  padding: 4px;
}