.full-width {
    width: 100%;
}

.table-container {
    max-height: 370px; /* Adjust as needed */
    overflow-y: auto;  /* Enables vertical scrolling */
    display: block;     /* Ensures block-level behavior */
}
  
.mat-column-name {
    height: 100px;
}