<span>
    <h3>Select category</h3>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Select an option</mat-label>
        <mat-select (selectionChange)="onCategorySelect($event)">
            @for (category of categories; track category.category) {
            <mat-option [value]="category.category">{{category.category}}
                <mat-icon aria-hidden="false" fontIcon={{category.icon}}></mat-icon>
            </mat-option>
            }
        </mat-select>
    </mat-form-field>
    <p>Customize the attributes <mat-icon aria-hidden="false" fontIcon="info" mat-raised-button
            matTooltip="You can any of the delete below attributes to generate custom mock data"
            matTooltipPosition="above"></mat-icon>
    </p>
    @if (proerties.length > 0) {
    <div class="table-container">
        <table mat-table [dataSource]="proerties" class="mat-elevation-z8">
            <ng-container matColumnDef="No">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
            </ng-container>
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element;"> {{element.label}} </td>
            </ng-container>
            <ng-container matColumnDef="Type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>
            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Show/Hide</th>
                <td mat-cell *matCellDef="let element"> 
                    <mat-icon aria-hidden="false" class="action-icon"
                     fontIcon="{{element.isVisible ? 'visibility' : 'visibility_off'}}"
                     (click)="togglePropertyVisibility(element)"
                     mat-raised-button>
                    </mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.row-invisible]="!row.isVisible"></tr>
        </table>
    </div>
    }
</span>