.json-container {
    max-height: 570px; /* Adjust as needed */
    overflow-y: auto;  /* Enables vertical scrolling */
    display: block;     /* Ensures block-level behavior */
}

.preview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .tools-container {
    display: flex;
    gap: 10px; /* Adds spacing between the icons */
  }
  
  .preview-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }

.tools-container .custom-button {
    cursor: pointer;
}

.custom-button {
    display: flex;
    align-items: center;
    gap: 5px; /* Adds spacing between the icon and text */
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 16px;
    border-radius: 4px;
  }