<span>
    <div class="preview-header">      
      <h3 class="preview-title">Preview mock data</h3>
      @if (mockJsonData.length > 0) {
      <div class="tools-container">
        <button mat-raised-button color="primary" class="custom-button" (click)="copyToClipboard()">
            <mat-icon fontIcon="content_copy"></mat-icon>
            Copy
          </button>
          <button mat-raised-button color="accent" class="custom-button" (click)="downloadJson()">
            <mat-icon fontIcon="download"></mat-icon>
            Download
          </button>
      </div>
    }
    </div>
    @if (mockJsonData.length > 0) {
    <div class="json-container">
      <pre>{{ mockJsonData | json }}</pre>
    </div>
    }
  </span>