<!-- <asl-google-signin-button type='standard' text="signin_with" size='medium'>
  <div id="g_id_onload"
  data-client_id="CLIENT_ID"
  data-context="signin"
  data-ux_mode="popup"
  data-callback="handleCredentialResponse"
  data-auto_prompt="false">
</div>

<div class="g_id_signin"
  data-type="standard"
  data-shape="rectangular"
  data-theme="outline"
  data-text="signin_with"
  data-size="large"
  data-logo_alignment="left">
</div>
</asl-google-signin-button> -->
<asl-google-signin-button
  type="standard"
  id="google-signin-button"
  size="large"
  text="signin_with"
  width="300"
></asl-google-signin-button>
<div class="container">
  <!-- <div id="google-signin-button"></div> -->
  <mat-card class="section">
    <app-category></app-category>
  </mat-card>
  <mat-card class="section">
    <app-preview></app-preview>
  </mat-card>
</div>